SKJEMA/avlnoo-mdk.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.arkivverket.no/standarder/nha/avlxml/avlnoo-mdk"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.arkivverket.no/standarder/nha/avlxml/avlnoo-mdk"
  elementFormDefault="qualified">

  <!-- 
********************************************************************************    
    AVLXML base metadatakatalog (avlxmlbmdk.xsd)
    Inngår i XML-skjema for avleveringsliste til Norsk helsearkiv
******************************************************************************** 
-->


  <!-- ********** DEPONERING ********** 
    deponeringsid           | string  | O | En unik identifikator tildelt av Norsk helsearkiv ved inngåelse av avtale om deponering. 
    deponeringsbeskrivelse  | string  | O | Tekstlig beskrivelse av den aktuelle deponeringen. Typisk beskrivelse av serie, periode eller annen avgrensning. 
    generertdato            | date    | B | Dato som viser når databasedumpen eller avl ble generert
    avleverer               | string  | B | Navnet på den avleverende enhet. Typisk statsforvalter eller lignende.  
    behandler               | string  | B | Navn på behandler som registrert på HPR-registeret 
    behandlerid             | string  | B | Typisk HPR-nummer til behandler. 
    spesialisthelsetjeneste | boolean | B | Angir om behandler er del av spesialisthelsetjenesten og omfattet av helsearkivforskrifta [4] eller ikke 
  -->

  <xs:simpleType name="deponeringsid">
    <xs:annotation>
      <xs:documentation>En unik identifikator tildelt av Norsk helsearkiv ved inngåelse av avtale om deponering.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="INC[0-9]+"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="deponeringsbeskrivelse">
    <xs:annotation>
      <xs:documentation>Tekstlig beskrivelse av den aktuelle deponeringen. Typisk beskrivelse av serie, periode eller annen avgrensning.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="avleverer">
    <xs:annotation>
      <xs:documentation>Navnet på den avleverende enhet. Typisk statsforvalter eller lignende.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  
  <xs:simpleType name="behandler">
    <xs:annotation>
      <xs:documentation>Navn på behandler som registrert på HPR-registeret.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  
  <xs:simpleType name="behandlerid">
    <xs:annotation>
      <xs:documentation>Typisk HPR-nummer til behandler.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  
  <xs:simpleType name="spesialisthelsetjeneste">
    <xs:annotation>
      <xs:documentation>Angir om behandler er del av spesialisthelsetjenesten og omfattet av helsearkivforskrifta [4] eller ikke.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>

  <!-- ********** DEPONERING SLUTT ********** -->

  <!-- ********** PASIENTJOURNAL **********
    journalid    | string | O | Identifikator for pasientjournalen som er garantert unik innenfor denne avleveringen. Skal være det samme som filnavnet på pdf dersom det er generert pdf. (pasientID+datetime er å foretrekke ) 
    opprettet    | date   | O | Dato for når objekt/registrering er opprettet
    pasientid    | string | O | Pasientens unike ID-nummer.  Fortrinnsvis brukes personnummer, men nasjonal D-nummer eller virksomhetsinterne H-nummer eller FH-nummer kan registreres dersom pasientens personnummer ikke er kjent. 
    pasientnavn  | string | O | Pasientens fulle navn
    fodtdato     | date   | O | Pasientens fødselsdato, eller fødselsår dersom bare årstall er kjent
    sistekontakt | date   | B | Siste anførsel i journalen. Blir registrert så lenge det går frem av pasientjournalomslag. 
    merknad      | string | B | Felt for registrering av fritekstmerknad dersom brukeren har behov for å knytte en beskrivende anmerkning til journalavleveringen.
  -->

  <xs:simpleType name="journalid">
    <xs:annotation>
      <xs:documentation>Identifikator for pasientjournalen som er garantert unik innenfor denne avleveringen. Skal være det samme som filnavnet på pdf dersom det er generert pdf. (pasientID+datetime er å foretrekke).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="pasientid">
    <xs:annotation>
      <xs:documentation>Pasientens unike ID-nummer. Fortrinnsvis brukes personnummer, men nasjonal D-nummer eller virksomhetsinterne H-nummer eller FH-nummer kan registreres dersom pasientens personnummer ikke er kjent.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <!-- Vi kan ikke validere dette feltet siden det skal være mulig å bruke H/FH-nummer. Disse er virksomhetsinterne -->
      <!--xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])(0[1-9]|1[0-2])([0-9]{2})(.?)([0-9]{5})"></xs:pattern--> <!-- fnr -->
      <!--xs:pattern value="(4[1-9]|[5-6][0-9]|7[0-1])(0[1-9]|1[0-2])(\d{2})(.?)(\d{5})"></xs:pattern--> <!-- dnr -->
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="pasientnavn">
    <xs:annotation>
      <xs:documentation>Pasientens fulle navn.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="fodtdato">
    <xs:annotation>
      <xs:documentation>Pasientens fødselsdato, eller fødselsår dersom bare årstall er kjent.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="arkDATO"/>
  </xs:simpleType>

  <xs:simpleType name="sistekontakt">
    <xs:annotation>
      <xs:documentation>Siste anførsel i journalen. Blir registrert så lenge det går frem av pasientjournalomslag.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="arkDATO"/>
  </xs:simpleType>

  
  <!-- ********** PASIENTJOURNAL SLUTT ********** -->
  
  <!-- ********** DATABASEDUMP **********
    dbid          | string | O | Identifikator for databasedump som er garantert unik innenfor denne avleveringen. Skal være det samme som 
                                  filnavnet plus datetime, skilletegn mellom filnavn og datetime er «-« og fileextension forblir bakerst. 
                                  F.eks. filnavn db.tar blir til db-2021-09-17T124650.tar (pasientID+datetime er å foretrekke ) 
    opprettet     | date   | O | Dato for når registreringen er opprettet
    jsyslev       | string | O | Leverandør av fagsystem, typisk selskapet som utvikler journalsystemet.
    jsysnavn      | string | O | Navn på journalsystemet
    jsysver       | string | O | Versjon av journalsystem når databasedump ble opprettet. 
    generertdato  | date   | B | Dato som viser når databasedumpen ble generert
    dbtype        | string | B | Type database som ble brukt av pasientjournalsystem, dersom kjent.
    dbsize        | long   | B | Databasedump størrelse i bytes
    merknad       | string | B | Felt for registrering av fritekstmerknad dersom brukeren har behov for å knytte en beskrivende anmerkning til journalavleveringen. 
  -->

  <xs:simpleType name="dbid">
    <xs:annotation>
      <xs:documentation>
        Identifikator for databasedump som er garantert unik innenfor denne avleveringen. Skal være det samme som 
        filnavnet plus datetime, skilletegn mellom filnavn og datetime er «-« og fileextension forblir bakerst. 
        F.eks. filnavn db.tar blir til db-2021-09-17T124650.tar (pasientID+datetime er å foretrekke )
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value=".*-(20[2-9][0-9])(-(0[1-9]|1[012])(-([012][0-9]|3[01])))T([01][0-9]|2[0-3])([0-5][0-9]){2}.*"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="jsyslev">
    <xs:annotation>
      <xs:documentation>Leverandør av fagsystem, typisk selskapet som utvikler journalsystemet.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="jsysnavn">
    <xs:annotation>
      <xs:documentation>Navn på journalsystemet.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  
  <xs:simpleType name="jsysver">
    <xs:annotation>
      <xs:documentation>Versjon av journalsystem når databasedump ble opprettet.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  
    <xs:simpleType name="dbtype">
    <xs:annotation>
      <xs:documentation>Type database som ble brukt av pasientjournalsystem, dersom kjent.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="dbsize">
    <xs:annotation>
      <xs:documentation>Databasens størrelse i bytes, dersom kjent</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:long"></xs:restriction>
  </xs:simpleType>
  
  <!-- ********** DATABASEDUMP SLUTT ********** -->

  <!-- ********** FELLES ********** -->

  <xs:simpleType name="arkDATO">
    <xs:annotation>
      <xs:documentation>Generelt datoformat</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(1[89][0-9]{2}|20[0-9]{2})(-(0[1-9]|1[012])(-([012][0-9]|3[01]))?)?"/>
      <xs:pattern value="(1[89][0-9]{2}|20[0-9]{2})(0[1-9]|1[012])([012][0-9]|3[01])"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="opprettet">
    <xs:annotation>
      <xs:documentation>Dato for når registreringen er opprettet.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="arkDATO"/>
  </xs:simpleType>
  
  <xs:simpleType name="generertdato">
    <xs:annotation>
      <xs:documentation>Den dato listen over metadata ble generert.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>

  <xs:simpleType name="merknad">
    <xs:annotation>
      <xs:documentation>Felt for registrering av fritekstmerknad.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  
  <!-- ********** FELLES SLUTT ********** -->

</xs:schema>
